html {
  scroll-behavior: smooth;
}

body {
  font-family: "robot", arial;
  background-color: #ffd60a;
  color: black;
}

nav {
  height: fit-content;
  color: black;
}

.navbar-nav {
  justify-content: right;
}

.custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom .navbar-toggler {
  border-color: white;
}

#navbarSupportedContent {
  justify-content: right;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
}

.navbar-brand:hover {
  border-bottom: none;
}

nav a {
  margin-right: 1.5em;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.nav-link {
  padding-bottom: 0;
}

nav a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.nav-item.active , .nav-item.active a {
  color: red;
  font-weight: lighter;
}

/* END OF NAV */

.fade-1 {
  animation: drop-in 1200ms ease 200ms backwards;
}

.fade-2 {
  animation: drop-in 1400ms ease 200ms backwards;
}

.fade-3 {
  animation: drop-in 1600ms ease 200ms backwards;
}

.fade-4 {
  animation: drop-in 1800ms ease 200ms backwards;
}

.hidden{
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1.5s;
}

.hidden-extra{
  opacity: 0;
  transform: translateX(-300%);
  transition: all 2s;
}

.show{
  opacity: 1;
  transform: translateX(0);
}


.container-fluid-1 {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hero {
  padding-top: 20em !important;
  margin: 0 auto;
  line-height: 0 !important;
  width: fit-content;
  text-align: left;
}

.name {
  margin: 0;
  font-size: 80px;
  font-weight: 600;
  display: block;
  width: fit-content;
}

.role {
  font-weight: 600;
  font-size: 50px;
  margin-left: 0;
}

.hello {
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.32em;
}

.hero-about{
  line-height: 1.5;
  max-width: 75ch;
  margin: 0 auto;
  padding-right: 2em;
  margin-left: 0.32em;
}

.projects-btn {
  background-color: #003566;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 0;
  font-weight: 600;
}

.view-proj {
  margin-top: 1em;
  padding: 1em;
}

.link-btns{
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1em;
}

.git-link{
  display: flex;
  gap: 1.5em;
}

.fa{
  color: black;
}

.heading {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.small-heading {
  text-align: center;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

#technologies{
  padding-top: 1em;
}

.technologies {
  width: 100%;
  margin: 0 auto 10em auto;
}

.tech-images {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #003566;
  padding: 1.5em;
  border-radius: 10px;
}

.tech-images img {
  margin: 0;
  width: 70px;
  height: 70px;
}

#react-img {
  width: 80px;
  height: 70px;
}

#node-img {
  height: 75px;
  width: 70px;
}

.img-text {
  color: white;
  text-align: center;
}
.img-text p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

/* ---------PROJECTS---------- */

.container-fluid-2 {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5em;
}

#projects{
  padding-top: 1em;
}

.project-card {
  width: 60%;
  margin: 0 auto 4em auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1% 0;
  background-color: #003566;
  border-radius: 15px;
}

.project-info {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  width: 50%;
  padding: 1em 3em;
}

.project-name {
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 0.7em;
}

.project-text {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.project-img {
  width: 50%;
  padding: 1em 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-1-img {
  width: 90%;
}

.project-cta {
  background-color: black;
  color: white;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 0.3em 1.7em;
  font-size: 16px;
  font-weight: 600;
}

.project-secondary {
  background-color: #bfbfbf;
  color: black;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 0.3em 1.7em;
  font-size: 16px;
  font-weight: 600;
}

.project-img-small {
  display: none;
}

.flex-btns {
  display: flex;
  gap: 10px;
}


/* ---------------------MEDIA QUERY-------------------------- */
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translatex(-200px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-width: 560px) {
  body {
    margin: 0 auto;
  }
  .hero {
    margin-left: 1em;
    padding-top: 18em !important;
  }
  .hello {
    margin-left: 0.1em;
    font-size: 16px;
  }
  .name {
    font-size: 45px;
  }
  .role {
    font-size: 30px;
  }
  .hero-about{
    margin-left: 0.1em;
  }
  .heading {
    margin-top: 0;
    font-size: 35px;
  }
  .small-heading {
    font-size: 35px;
  }
  .git-link .fa{
    font-size: 28px !important;
  }
  .projects-btn {
    font-size: 16px;
    padding: 1em 1em;
  }
  .git-link{
    gap:1em;
  }
  .flex-buttons {
    margin-top: 0.2em;
  }
  .nav-item a {
    font-size: 12px !important;
    padding: 0.3em;
  }
  .nav-item .active + {
    color: red !important;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .container-fluid-1 {
    height: 100vh;
  }
  .tech-images img {
    width: 50px !important;
    height: 50px !important;
  }
  .img-text {
    margin: 0.2em 0.6em;
  }
  .img-text p {
    margin: 0 0 0.5em 0;
  }
  #react-img {
    height: 50px;
    width: 55px !important;
  }
  #node-img {
    height: 53x;
    width: 50px !important;
  }
  .project-card {
    width: 85% !important;
  }
  .project-text {
    font-size: 16px;
  }
  .project-cta {
    font-size: 14px;
  }
  .project-secondary {
    font-size: 14px;
  }
  .project-info {
    padding: 1em !important;
  }
  .technologies{
    margin-top: 0 !important;
    margin-bottom: 3rem;
  }
  .container-fluid-2{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1400px) {
  .container-fluid-2 {
    height: fit-content;
    margin-bottom: 2em;
  }
  .project-images {
    width: 100%;
    height: auto;
  }
  .technologies {
    margin-top: 3em;
  }
  .tech-images {
    width: 80%;
    padding: 2em;
  }
  .tech-images img {
    width: 75px;
    height: 75px;
    margin: 0.5em;
  }
  #react-img {
    width: 85px;
    height: 75px;
  }
  #node-img {
    width: 70px;
    height: 75px;
  }
  .project-cta {
    margin: 0;
  }
  .project-card {
    justify-content: center;
    width: 70%;
  }
  .project-info {
    width: 100%;
    padding: 0 2em;
  }
  .project-text {
    width: 90%;
    margin: 0 auto 1em auto;
  }
  .project-info h3 {
    margin: 1em auto;
    width: 90%;
    text-align: center;
  }
  .project-img-small {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
  .project-1-img {
    display: none;
  }
  .flex-btns {
    justify-content: center;
  }
}
